################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StoreManager/obj/
/.vs/StoreManager/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/storemanager.projects.v2
